{% extends 'base.html' %}
{% load static %}


{% block title %}
Editar empleado
{% endblock title %}


{% block content %}
    {%include 'includes/header.html'%}
    
    <div class="grid-container">
        <div class="grid-x">
        <h1 class="cell">Nuevo departamento</h1>
        <form class="cell callout grid-x grid-margin-x"method="POST">{% csrf_token %}
            <h3 class="cell">Datos Empleado</h3>
            <div class="cell medium-6"><label>Nombre:{{form.nombre}}</label></div>
            <div class="cell medium-6"><label>Apellidos:{{form.apellidos}}</label></div>
            <h3 class="cell">Datos Departamento</h3>
            <div class="cell medium-6"><label>Departamento:{{form.departamento}}</label></div>
            <div class="cell medium-6"><label>Nombre corto:{{form.shorname}}</label></div>
            <div class="cell">
                <button type="submit" class="success button">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
        